<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <main>
      <div class="form-container">
        <h2>Task 2 - Display unreturned movies at your store</h2>
        <form method="post">
          <div class="form-group col-md-5">
            <label for="exampleInputUser1">Employee Username</label>
            <input
              type="username"
              class="form-control"
              id="exampleInputUser1"
              placeholder="Enter username"
              name="username"
            />
            <% if (locals.message){ %>
            <p class="error"><%=locals.message %></p>
            <% } else {%>
            <br />
            <% } %>
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Enter password"
              name="password"
            />
            <small
              >Password (for testing purposes):
              8cb2237d0679ca88db6464eac60da96345513964</small
            >
          </div>

          <button type="submit" class="btn btn-primary">View Films</button>
        </form>
      </div>

      <% if (locals.overdueFilms){ %>
      <div>
        <hr />
        <div style="text-align: center">
          <h3>
            Displaying unreturned movies for <%=locals.overdueFilms[0].city %>
            branch
          </h3>
          <small>Manager Name: <%= locals.overdueFilms[0].staff_name %></small>
        </div>
        <br />
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Movie Name</th>
              <th scope="col">Date Rented</th>
              <th scope="col">Rented By</th>
              <th scope="col">Customer Email</th>
            </tr>
          </thead>
          <tbody>
            <% locals.overdueFilms.forEach((rental) => { %>
            <tr>
              <% var rentDate = new Date(rental.rental_date) %>
              <td><strong><%= rental.title %></strong></td>
              <td><%= rentDate.toLocaleDateString() %></td>
              <td><%= rental.name %></td>
              <td><%= rental.customer_email %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>

<!--      As a store manager at dvdrental I would like to have a web
          page so I can view the films that have not been returned and the
          customer who rented the film. -->
